html,body {
	height: 100%;
	width: 100%;
	padding:0px;
	margin: 0px;
}

.header {
	background-color: #DDDDDD;
	height: 20px;
}

#paper {
	background-color: #FAFAFA;
	padding:0px;
	margin: 0px;
}
